CREATE DATABASE databasename; 

DROP DATABASE databasename; 

#### The SQL CREATE TABLE Statement
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
); 
CREATE TABLE new_table_name AS
    SELECT column1, column2,...
    FROM existing_table_name
    WHERE ....; 
    
    NOT NULL - Ensures that a column cannot have a NULL value
    UNIQUE - Ensures that all values in a column are different
    PRIMARY KEY - A combination of a NOT NULL and UNIQUE. Uniquely identifies each row in a table
    FOREIGN KEY - Prevents actions that would destroy links between tables
    CHECK - Ensures that the values in a column satisfies a specific condition
    DEFAULT - Sets a default value for a column if no value is specified
    CREATE INDEX - Used to create and retrieve data from the database very quickly

#### The SQL DROP TABLE Statement
DROP TABLE table_name; 




#### ALTER TABLE - ADD Column
ALTER TABLE table_name
ADD column_name datatype; 

#### ALTER TABLE - DROP COLUMN
ALTER TABLE table_name
DROP COLUMN column_name; 

#### ALTER TABLE - ALTER/MODIFY COLUMN
ALTER TABLE table_name
MODIFY COLUMN column_name datatype;

In [1]:
import pymysql

In [2]:
def connected(func):
    def wrapper(*arg, **kwarg):
        try:
            connect = pymysql.connect(
                host='localhost',
                user='root',
                password='37112202',
                database='test_db'
            )
            print('*'*38)
            print('Connection to base test_db succerfull!')
            print('*'*38)
            func(connect, *arg, **kwarg)
        except Exception as e:
            print('*'*38)
            print(e)
            print('*'*38)
    return wrapper

In [3]:
# Проіерить версию
@connected
def version_db(connect):
    with connect:
        cur = connect.cursor()
        cur.execute("SELECT VERSION()")
        version = cur.fetchone()
        print("Database version: {}".format(version[0]))
        print('*'*38)
        
        
# Прочитать с бази
@connected
def work_with_base(connect, query_text, commit=False):
    '''
    Функция отправляет запрос на SQL сервер,
    query_text - текс запроса
    commit - булевое значение по факту False, когда тру делается комит, который нужен, для записи и \
    обновления обновления данных
    '''
    with connect:
        cur = connect.cursor()
        cur.execute(query_text)
        if commit:
            connect.commit()
            print("Commit done")
            print('*'*38)
        print("Query done")
        print('*'*38)

#  Конект к базе  @connected

#  Создать таблицу  
# query = """CREATE TABLE EMPLOYEE (
#    FIRST_NAME  CHAR(20) NOT NULL,
#    LAST_NAME  CHAR(20),
#    AGE INT,  
#    SEX CHAR(1),
#    INCOME FLOAT )"""
# 
# CREATE TABLE table_name (
#     column1 datatype,
#     column2 datatype,
#     column3 datatype,
#    ....
# ); 

#  Удалить таблицу
# DROP TABLE table_name; 


#  Вставить в таблицу
# ALTER TABLE table_name
# ADD column_name datatype; 

#  Удалить из таблицы

#  Обновить таблицу

In [4]:
version_db()

**************************************
Connection to base test_db succerfull!
**************************************
Database version: 5.7.28-log
**************************************

In [160]:
# query = """CREATE TABLE EMPLOYEE (
#    FIRST_NAME  CHAR(20) NOT NULL,
#    LAST_NAME  CHAR(20),
#    AGE INT,  
#    SEX CHAR(1),
#    INCOME FLOAT )"""
query = """INSERT INTO EMPLOYEE(FIRST_NAME,
   LAST_NAME, AGE, SEX, INCOME)
   VALUES ('Macewew', 'Mohan', 20, 'M', 2000)"""
work_with_base(query, True)

**************************************
Connection to base test_db succerfull!
**************************************
Commit done
**************************************
Query done
**************************************

## ------------------------------------End work----------------------------------------

-----------------------------------------------------------------------------------

Database version: 5.7.28-log

### ------------------------------ Test -----------------------------------------------------

In [24]:
def decorator_function(func):
    def wrapper():
        print('Функция-обёртка!')
        print('Оборачиваемая функция: {}'.format(func))
        print('Выполняем обёрнутую функцию...')
        func()
        print('Выходим из обёртки')
    return wrapper

In [25]:
@decorator_function
def hello_world():
    print('Hello world!')

In [26]:
hello_world()

Функция-обёртка!
Оборачиваемая функция: <function hello_world at 0x000000000922DAE8>
Выполняем обёрнутую функцию...
Hello world!
Выходим из обёртки

In [156]:
# query = """CREATE TABLE EMPLOYEE (
#    FIRST_NAME  CHAR(20) NOT NULL,
#    LAST_NAME  CHAR(20),
#    AGE INT,  
#    SEX CHAR(1),
#    INCOME FLOAT )"""
first_name = 'Sasha'
query = """INSERT INTO EMPLOYEE(FIRST_NAME,
   LAST_NAME, AGE, SEX, INCOME)
   VALUES ('{0}', 'Mohan', 20, 'M', 2000)""".format(first_name)
print(query)
work_with_base(query, commit=True)

INSERT INTO EMPLOYEE(FIRST_NAME,
   LAST_NAME, AGE, SEX, INCOME)
   VALUES ('Sasha', 'Mohan', 20, 'M', 2000)
**************************************
Connection to base test_db succerfull!
**************************************
Commit done
**************************************
Query done
**************************************

In [ ]:
# query = """CREATE TABLE EMPLOYEE (
#    FIRST_NAME  CHAR(20) NOT NULL,
#    LAST_NAME  CHAR(20),
#    AGE INT,  
#    SEX CHAR(1),
#    INCOME FLOAT )"""
def insert(
    table_name
):
query = """INSERT INTO EMPLOYEE(FIRST_NAME,
   LAST_NAME, AGE, SEX, INCOME)
   VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""