####  CREATE Database
```
CREATE DATABASE databasename; 

DROP DATABASE databasename; 
```
####  CREATE TABLE Statement

```
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
); 
 
CREATE TABLE new_table_name AS
    SELECT column1, column2,...
    FROM existing_table_name
    WHERE ....; 
```    
    NOT NULL - Ensures that a column cannot have a NULL value
    UNIQUE - Ensures that all values in a column are different
    PRIMARY KEY - A combination of a NOT NULL and UNIQUE. Uniquely identifies each row in a table
    FOREIGN KEY - Prevents actions that would destroy links between tables
    CHECK - Ensures that the values in a column satisfies a specific condition
    DEFAULT - Sets a default value for a column if no value is specified
    CREATE INDEX - Used to create and retrieve data from the database very quickly

####  DROP TABLE Statement
    DROP TABLE table_name; 




#### ALTER TABLE - ADD Column
    ALTER TABLE table_name
    ADD column_name datatype; 

#### ALTER TABLE - DROP COLUMN
    ALTER TABLE table_name
    DROP COLUMN column_name; 

#### ALTER TABLE - ALTER/MODIFY COLUMN
    ALTER TABLE table_name
    MODIFY COLUMN column_name datatype;

### PyMySQL

In [1]:
import pymysql

def connected(func):
    def wrapper(*arg, **kwarg):
        try:
            connect = pymysql.connect(
                host='localhost',
                user='root',
                password='37112202',
                database='test_db'
            )
            print('*'*38)
            print('Connection to base test_db from pyMySQL succerfull!')
            print('*'*38)
            func(connect, *arg, **kwarg)
        except Exception as e:
            print('*'*38)
            print(e)
            print('*'*38)
    return wrapper

@connected
def version_db(connect):
    with connect:
        cur = connect.cursor()
        cur.execute("SELECT VERSION()")
        version = cur.fetchone()
        print("Database version: {}".format(version[0]))
        print('*'*38)
        
        
# Прочитать с бази
@connected
def work_with_base(connect, query_text, commit=False):
    '''
    Функция отправляет запрос на SQL сервер,
    query_text - текс запроса
    commit - булевое значение по факту False, когда тру делается комит, который нужен, для записи и \
    обновления обновления данных
    '''
    with connect:
        cur = connect.cursor()
        cur.execute(query_text)
        if commit:
            connect.commit()
            print("Commit done")
            print('*'*38)
        print("Query done")
        print('*'*38)

In [3]:
# Проіерить версию


#  Конект к базе  @connected

#  Создать таблицу  
# query = """CREATE TABLE EMPLOYEE (
#    FIRST_NAME  CHAR(20) NOT NULL,
#    LAST_NAME  CHAR(20),
#    AGE INT,  
#    SEX CHAR(1),
#    INCOME FLOAT )"""
# 
# CREATE TABLE table_name (
#     column1 datatype,
#     column2 datatype,
#     column3 datatype,
#    ....
# ); 

#  Удалить таблицу
# DROP TABLE table_name; 


#  Вставить в таблицу
# ALTER TABLE table_name
# ADD column_name datatype; 

#  Удалить из таблицы

#  Обновить таблицу

In [2]:
version_db()

**************************************
Connection to base test_db from pyMySQL succerfull!
**************************************
Database version: 5.7.28-log
**************************************

In [160]:
# query = """CREATE TABLE EMPLOYEE (
#    FIRST_NAME  CHAR(20) NOT NULL,
#    LAST_NAME  CHAR(20),
#    AGE INT,  
#    SEX CHAR(1),
#    INCOME FLOAT )"""
query = """INSERT INTO EMPLOYEE(FIRST_NAME,
   LAST_NAME, AGE, SEX, INCOME)
   VALUES ('Macewew', 'Mohan', 20, 'M', 2000)"""
work_with_base(query, True)

**************************************
Connection to base test_db succerfull!
**************************************
Commit done
**************************************
Query done
**************************************

## ------------------------------------End work----------------------------------------

 ### import  MySQL
 https://www.w3schools.com/python/python_mysql_insert.asp

In [2]:
import mysql.connector
import pswrd


star = 48

def connected(func):
    def wrapper(*arg, **kwarg):
        try:
            connect = mysql.connector.connect(
                host=pswrd.host,
                user=pswrd.user,
                password=pswrd.password,
                database=pswrd.database,
                
               
            )
            print('*'*star)
            print('Connection to base test_db from MySQL succerfull!')
            print('*'*star)
            func(connect, *arg, **kwarg)
        except Exception as e:
            print('*'*star)
            print(e)
            print('*'*star)
    return wrapper

@connected
def version_db(connect):
    with connect:
        cur = connect.cursor()
        cur.execute("SELECT VERSION()")
        version = cur.fetchone()
        print("Database version: {}".format(version[0]))
        
        print('*'*star)
        
# Прочитать с бази
@connected
def work_with_base(connect, query_text, commit=False):
    '''
    Функция отправляет запрос на SQL сервер,
    query_text - текс запроса
    commit - булевое значение по факту False, когда тру делается комит, который нужен, для записи и 
    обновления  данных
    '''
    with connect:
        cur = connect.cursor()
        cur.execute(query_text)
        if commit:
            connect.commit()
            print("Commit done!")
            print('*'*star)
        print("Query done!")
        print('*'*star)

In [4]:
version_db()

************************************************
Connection to base test_db from MySQL succerfull!
************************************************
Database version: 5.7.28-log
************************************************

### Insert

In [20]:
first_name = 'Lenwww'
query = """INSERT INTO EMPLOYEE(INCOME)
   VALUES (2000)"""
print(query)
work_with_base(query, commit=True)

INSERT INTO EMPLOYEE(INCOME)
   VALUES (2000)
************************************************
Connection to base test_db from MySQL succerfull!
************************************************
************************************************
1364 (HY000): Field 'FIRST_NAME' doesn't have a default value
************************************************

### Create Table

In [16]:
table_name = 'test_test'
query = """CREATE TABLE {0} (
   FIRST_NAME  CHAR(20) NOT NULL,
   LAST_NAME  CHAR(20),
   AGE INT,  
   SEX CHAR(1),
   INCOME FLOAT )""".format(table_name)


 
print(query)
work_with_base(query)

CREATE TABLE test_test (
   FIRST_NAME  CHAR(20) NOT NULL,
   LAST_NAME  CHAR(20),
   AGE INT,
   SEX CHAR(1),
   INCOME FLOAT )
************************************************
Connection to base test_db from MySQL succerfull!
************************************************
************************************************
1050 (42S01): Table 'test_test' already exists
************************************************

### Cteate Table COMPANYS

In [22]:
table_name = 'COMPANYS'
query = """CREATE TABLE {0} (
   ID  INT AUTO_INCREMENT PRIMARY KEY,
   COMPANY_NAME  CHAR(255))""".format(table_name)


 
print(query)
work_with_base(query)

CREATE TABLE COMPANYS (
   ID  INT AUTO_INCREMENT PRIMARY KEY,
   COMPANY_NAME  CHAR(255))
************************************************
Connection to base test_db from MySQL succerfull!
************************************************
Query done!
************************************************

### Cteate Table COMPANYS

In [17]:
table_name = 'COMPANYS'
query = """CREATE TABLE {0} (
   ID  INT PRIMARY KEY,
   COMPANY_NAME  CHAR(255))""".format(table_name)


 
print(query)
work_with_base(query)

CREATE TABLE COMPANYS (
   ID  INT PRIMARY KEY,
   COMPANY_NAME  CHAR(255))
************************************************
Connection to base test_db from MySQL succerfull!
************************************************
Query done!
************************************************

### ------------------------------ Test -----------------------------------------------------

In [24]:
def decorator_function(func):
    def wrapper():
        print('Функция-обёртка!')
        print('Оборачиваемая функция: {}'.format(func))
        print('Выполняем обёрнутую функцию...')
        func()
        print('Выходим из обёртки')
    return wrapper

In [25]:
@decorator_function
def hello_world():
    print('Hello world!')

In [26]:
hello_world()

Функция-обёртка!
Оборачиваемая функция: <function hello_world at 0x000000000922DAE8>
Выполняем обёрнутую функцию...
Hello world!
Выходим из обёртки

In [156]:
# query = """CREATE TABLE EMPLOYEE (
#    FIRST_NAME  CHAR(20) NOT NULL,
#    LAST_NAME  CHAR(20),
#    AGE INT,  
#    SEX CHAR(1),
#    INCOME FLOAT )"""
first_name = 'Sasha'
query = """INSERT INTO EMPLOYEE(FIRST_NAME,
   LAST_NAME, AGE, SEX, INCOME)
   VALUES ('{0}', 'Mohan', 20, 'M', 2000)""".format(first_name)
print(query)
work_with_base(query, commit=True)

INSERT INTO EMPLOYEE(FIRST_NAME,
   LAST_NAME, AGE, SEX, INCOME)
   VALUES ('Sasha', 'Mohan', 20, 'M', 2000)
**************************************
Connection to base test_db succerfull!
**************************************
Commit done
**************************************
Query done
**************************************

In [ ]:
# query = """CREATE TABLE EMPLOYEE (
#    FIRST_NAME  CHAR(20) NOT NULL,
#    LAST_NAME  CHAR(20),
#    AGE INT,  
#    SEX CHAR(1),
#    INCOME FLOAT )"""
def insert(
    table_name
):
query = """INSERT INTO EMPLOYEE(FIRST_NAME,
   LAST_NAME, AGE, SEX, INCOME)
   VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""