# ----------------------------------Work-------------------------

In [138]:
import pymysql

In [139]:
def connected(func):
    def wrapper(*arg, **kwarg):
        try:
            connect = pymysql.connect(
                host='localhost',
                user='root',
                password='37112202',
                database='test_db'
            )
            print('*'*38)
            print('Connection to base test_db succerfull!')
            print('*'*38)
            func(connect, *arg, **kwarg)
        except Exception as e:
            print('*'*38)
            print(e)
            print('*'*38)
    return wrapper

In [140]:
# Проіерить версию
@connected
def version_db(connect):
    with connect:
        cur = connect.cursor()
        cur.execute("SELECT VERSION()")
        version = cur.fetchone()
        print("Database version: {}".format(version[0]))
        print('*'*38)
        
        
# Прочитать с бази
@connected
def work_with_base(connect, query_text, commit=False):
    '''
    Функция отправляет запрос на SQL сервер,
    query_text - текс запроса
    commit - булевое значение по факту False, когда тру делается комит, который нужен, для записи и \
    обновления обновления данных
    '''
    with connect:
        cur = connect.cursor()
        cur.execute(query_text)
        if commit:
            connect.commit()
            print("Commit done")
            print('*'*38)
        print("Query done")
        print('*'*38)

# Записать в базу
# 
# 
# 
#

In [141]:
version_db()

**************************************
Connection to base test_db succerfull!
**************************************
Database version: 5.7.28-log
**************************************

In [142]:
# query = """CREATE TABLE EMPLOYEE (
#    FIRST_NAME  CHAR(20) NOT NULL,
#    LAST_NAME  CHAR(20),
#    AGE INT,  
#    SEX CHAR(1),
#    INCOME FLOAT )"""
query = """INSERT INTO EMPLOYEE(FIRST_NAME,
   LAST_NAME, AGE, SEX, INCOME)
   VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""
work_with_base(query, com=True)

**************************************
Connection to base test_db succerfull!
**************************************
Commit done
**************************************
Query done
**************************************

## ------------------------------------End work----------------------------------------

-----------------------------------------------------------------------------------

Database version: 5.7.28-log

### ------------------------------ Test -----------------------------------------------------

In [24]:
def decorator_function(func):
    def wrapper():
        print('Функция-обёртка!')
        print('Оборачиваемая функция: {}'.format(func))
        print('Выполняем обёрнутую функцию...')
        func()
        print('Выходим из обёртки')
    return wrapper

In [25]:
@decorator_function
def hello_world():
    print('Hello world!')

In [26]:
hello_world()

Функция-обёртка!
Оборачиваемая функция: <function hello_world at 0x000000000922DAE8>
Выполняем обёрнутую функцию...
Hello world!
Выходим из обёртки

In [137]:
# query = """CREATE TABLE EMPLOYEE (
#    FIRST_NAME  CHAR(20) NOT NULL,
#    LAST_NAME  CHAR(20),
#    AGE INT,  
#    SEX CHAR(1),
#    INCOME FLOAT )"""
query = """INSERT INTO EMPLOYEE(FIRST_NAME,
   LAST_NAME, AGE, SEX, INCOME)
   VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""
work_with_base(query, com=True)

**************************************
Connection to base test_db succerfull!
**************************************
Commit done{}
**************************************
Query done{}
**************************************